@model IEnumerable<PPKBeverageManagement.Models.ThongKeSoLuongSanPhamModel>

@{
    ViewData["Title"] = "Thống kê theo số lượng sản phẩm";
    Layout = "_AdminLayout";

}

<div class="container mt-5">
    <h1 class="text-center">Thống kê số lượng sản phẩm</h1>

    <!-- Form nhập liệu để lọc dữ liệu -->
    <form asp-action="ThongKeTheoSoLuongSanPham" method="get" class="mb-4">
        <div class="form-row align-items-end">
            <div class="col-md-3">
                <label for="filter">Lọc theo ngày:</label>
                <input type="date" id="filter" name="kw" class="form-control" />
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Gửi</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tên cà phê</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TenSanPham)</td>
                            <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/JavaScript.js"></script>
<script>
    let labels = [];
    let data = [];
    @foreach (var item in Model)
    {
        <text>
            labels.push("@item.TenSanPham");
        data.push(@item.SoLuong);
        </text>
    }
        window.onload = function () {
            let ctx1 = document.getElementById("myChart").getContext('2d');
            drawChartTheoSoLuong(ctx1, labels, data, "THỐNG KÊ SỐ LƯỢNG SẢN PHẨM BÁN");
        }
</script>
