@{
    ViewBag.Title = "Payment Success";
    Layout = "_Layout";

}
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger intent="WELCOME"
              chat-title="CSKH-PPK-Coffee"
              agent-id="66dfadc2-e7dc-4761-9ada-f796b9eabad2"
              language-code="vi"></df-messenger>
<h2>Thành Công</h2>
<p>Giao dịch của bạn đã thành công. Cảm ơn bạn đã mua hàng!</p>
